TOKEN=Trello Power-Up Token
API_KEY=Trello Power-Up API Key
BOARD_ID=Trello Board Id
KEEP_DONE=true | false Whether to keep the done cards in the list or not (default: false)

PLANNER_OIDC=Planner plannerauth-oidc cookie
PLANNER_ROUTE_HINT=Planner PlannerRouteHint cookie
PLANNER_TENANT=Planner organization name
PLAN_ID=Planner Plan Id

SHAREPONT_RTFA=SharePoint rtFa cookie
SHAREPOINT_FED_AUTH=SharePoint FedAuth cookie